<div id="main">
	<div class="palm-page-header">
		<div class="header-icon custom"></div>
			<div class="header-text">
				<span x-mojo-loc=''>Simple Presenter</span>
			</div>
			<div class="header-sliding-toggle" style="right:10px;top:10px">
				<div x-mojo-element="Spinner" id="waiting_spinner_top"></div>
			</div>
		</div>                                                                                     
	</div>
	
	<center><div><br>For help and tutorial please visit <a href="http://presenter.omoco.de">http://presenter.omoco.de</a><br><br></div></center>
	
	<div id="statusoutput" style="font-size:18px">
	</div>
</div>